<p>Name: <%= @gym_class.name %></p>
<p>Start Time: <%= @gym_class.start_time %></p>
<p>Current Class Size: <%= @bookings.length() %></p>
<p>Maximum Capacity: <%= @gym_class.max_capacity %></p>
<p>Attendees:</p>
<ul>
<% for booking in @bookings %>
  <li><%= booking.member.name %></li>

<% end %>
</ul>
<p><a class="edit-link" href="/classes/<%= @gym_class.id %>/edit">Edit Class Details</a></p>
<form action="/classes/<%= @gym_class.id %>/delete" method="post">
  <input class="delete-button" type="submit" value="Delete Class"/>

</form>
